@font-face {
  font-family: Calibri;
  src: url(/fonts/CALIBRI.TTF);
}

@font-face {
  font-family: Calibri-B;
  src: url(/fonts/CALIBRIB.TTF);
}

@font-face {
  font-family: Calibri-I;
  src: url(/fonts/CALIBRII.TTF);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Calibri;
}

/*Шапка сайта*/
header {
  background: url();
  display: flex;
  justify-content: center;
}

.input{
  font-size: 22px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0 10px;
}
.logo-img {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.lozung {
  width: auto;
  text-align: center;
  font-size: larger;
  font-style: normal;
}

/* Панель навигации */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: large;
}

.nav-btn {
  text-decoration: none;
  color: black;
  font-family: Calibri;
}
.reg{
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px 6px 4px 6px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}
.checked{
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px 6px 4px 6px;
  color: white;
  background-color: black;
  text-decoration: none;
}
.header-nav :last-child {
  margin-left: -40px;
}
.oblique {
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px 6px 4px 6px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}
/* Блок с новыми принтерами */
.news-block {
  margin-top: 6vh;
}

.header {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.slider {
  margin: 0 auto;
  display: flex;
  width: fit-content;
  margin-top: 2vh;
  gap: 2vw;
}
.item {
  width: auto;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: 1px solid rgba(15, 15, 15, 0.3);
  border-radius: 10px;
  box-shadow: 3px 5px rgba(147, 147, 147, 0.2);
}
.previous, .next{
  margin-top: 50%;
}

/* Форма регистарции на сайте */
.registration {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(15, 15, 15, 0.3);
  border-radius: 15px;
  width: 60%;
  margin: 2vh auto;
  gap: 1vh;
  padding: 5px;
}
.registration input{
  font-size: 20px;
}




/* Страница каталога */
.catalog-main{
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.find-btn{
  border: 2px solid black;
  border-radius: 10px;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.find-field{
  display: flex;
  align-items: center;
  gap: 3px;
}
.find-btn:hover{
  background-color: black;
  color: white;
  transition: 0.2s;
}
.cards-group{
  display: flex;
  justify-content: space-evenly;
  width: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  
}
.card{
  width: 20%;
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;

}
.card p{
  font-size: 18px;
  color: black;
  text-align: center;
  
}

.card img{
  max-width: 50%;
  height: auto;
  overflow: hidden;
  object-fit: contain;
}
.card .oblique{
  width:100%;
}

.btn-find .active{
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px 6px 4px 6px;
  color: white;
  background-color: black;
  text-decoration: none;
}
.show {
  display:flex;
}
