/* Стилб панели поиска товара */
.catalog-find-panel{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 90vw;
    margin: 0 auto;
    padding-bottom: 20px;
}
/* Стили страницы Каталога */
.goods-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 auto;
    gap: 10px;

    width: auto;
    max-width: 90%;
}
/* Стили карточки товара */
.good-card{
    display: none;
    width: auto;
    max-width: 30%;

    padding: 8px;

    border: 1px solid var(--main-site-color);
    border-radius: 8px;

    box-shadow: var(--site-card-shadow);
}
/* Заголово карты */
.good-card h4{
    text-align: center;
}
/* Текст карточик товара */
.good-card p{
    margin-top: 8px;
    margin-bottom: 8px;

    text-align: justify;
}
/* Стили изображения карточки товара */
.good-card img{
    object-fit: cover;
    
    width: auto;
    max-width: 100%;
    height: auto;
}
/* Стиили выриванивание кнопки в каточке товара */
.good-card-btns{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 15px;

    width: 100%;
}
.good-card .svg{
    width: 30px;
    height: 30px;

    color:white;
}
#date{
    color: yellowgreen;
}

/* Стиил состояния */
.hidden{
    display: none;
}
.show{
    display: block;
}
.active{
    background-color: calc(var(--cyan-hover-color)/2);
}