/* Стили карты */
.map img {
  width: auto;
  max-width: 100%;

  padding: 0.5vh 0 0.5vh 0;
}
.map {
  width: auto;
  max-width: 70%;

  border-top: 1px solid var(--main-site-color);
  border-bottom: 1px solid var(--main-site-color);
  border-radius: 8px;

  box-shadow: var(--site-card-shadow);

  margin: 0 auto;
}

/* Блок контактов */
.contacts-block {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;

  width: auto;
  max-width: 70%;

  gap: 10vw;
  margin: 0 auto;
}
